.card-button {
    border-radius: 3px;
    background-color: rgba(36, 36, 36, 0.695);
    padding: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: start;
}

.card-button:hover{
    background-color: rgb(68, 68, 68);
    transition: 0.3s;
}